body {
	margin: 0;
	height: 100%;
	font-size: 18px;
	font-family: Rubik;
}

#weight {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 60%;
}

.center {
	background: url('./images/pattern-bg.png');
	background-size: cover;
	display: flex;
	flex-flow: column;
	height: 100%;
	align-items: center;
}

.title {
	color: white;
	font-weight: 400;
	letter-spacing: 3px;
}

#caloriesExpended {
	color: white;
	font-size: 25px;
	letter-spacing: 3px;
}

.form-check {
	align-self: flex-end;
}

.form-check-label {
	color: white;
}

#map {
	width: 100vw;
	height: 100vh;
}
